PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX iaouniprot: <http://kabob.ucdenver.edu/iao/uniprot/>
PREFIX franzOption_clauseReorderer: <franz:identity>

# Given a biological processes, return all participants in that process

select ({{process-id}} as ?process_id) (group_concat(?ice; separator = "{{separator}}") AS ?participant_ice_ids)
{
  ?specificbp rdfs:subClassOf {{process-id}} .
  ?specificbp rdfs:subClassOf ?has_participant_r .
  ?has_participant_r owl:onProperty obo:RO_0000057 . # RO:has_participant
  ?has_participant_r owl:someValuesFrom ?specificbioentity .
  ?specificbioentity rdfs:subClassOf ?participant_bio_entity .
  ?ice obo:IAO_0000219 ?participant_bio_entity .
}
group by ?participant_bio_entity

# Local Variables:
# mode: sparql
# End:
