
PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX franzOption_clauseReorderer: <franz:identity>

# Find all known genes for a given species.
select ?gene  {
  ?taxon_r owl:onProperty obo:RO_0002162 .  # RO:in_taxon
  ?taxon_r owl:someValuesFrom obo:NCBITaxon_{{ncbi-taxon-id}} .
  ?gene rdfs:subClassOf ?taxon_r .
  ?gene rdfs:subClassOf obo:SO_0000704 . # SO:gene
}

# Local Variables:
# mode: sparql
# End:
